<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/942c6b9015.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Styles/Home.css">
    <title>UNIQOL | Home</title>
</head>

<body>
    <header>
        <div class="off-screen-menu">
            <nav class="hidden-nav">
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href=""></a>Shop</li>
                    <li><a href=""></a>News</li>
                    <li><a href="Cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>

        <nav>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="banner">
            <div>
                <h1 class="main-txt">Discover Your Unique Style with UNIQOL</h1>
            </div>
            <button class="ShopNow">Shop Now</button>

            <canvas id="dotsCanvas"></canvas>
        </div>

        <div class="SOFFER">
            <div class="offer-txt">
                <h1 style="margin: 0;">SPECIAL OFFER</h1>
            </div>
            <div class="big-div">

            </div>
        </div>

        <div class="slider">
            <div class="slides">
                <div class="slide">
                    <img src="../Assets/S1.jpg" alt="SLIDER1">
                    <div style="display: flex;">
                        <div class="text">SUPIMA Cotton Crew Neck T-Shirt
                            <br>
                            <h3>Rp.199,000</h3>
                        </div>
                    </div>

                </div>
                <div class="slide">
                    <img src="../Assets/S2.jpg" alt="SLIDER2">
                    <div class="text">Mini Short Sleeve T-Shirt
                        <br>
                        <h3>Rp.149,000</h3>
                    </div>
                </div>
                <div class="slide">
                    <img src="../Assets/S3.jpg" alt="SLIDER3">
                    <div class="text">Soft Brushed Crew Neck Long Sleeve T-SHIRT
                        <br>
                        <h3>Rp.229,000</h3>
                    </div>
                </div>
            </div>
            <button class="prev" onclick="previousSlide()">&#10094;</button>
            <button class="next" onclick="nextSlide()">&#10095;</button>
        </div>

        <div class="benefits">
            <div class="flex-benefits">

                <div class="benefits-point">
                    <div>
                        <i class="CICON fa-solid fa-shirt fa-2xl" style="color: #ff2025;"></i>
                    </div>
                    <div class="ben-text">
                        <h1>High-Quality Products</h1>
                    </div>
                </div>

                <div class="benefits-point">
                    <div>
                        <i class="CICON fa-solid fa-circle-up fa-2xl" style="color: #ff1c21;"></i>
                    </div>
                    <div class="ben-text">
                        <h1>Stylish and Trendy</h1>
                    </div>
                </div>

                <div class="benefits-point">
                    <div>
                        <i class="CICON fa-solid fa-sack-dollar fa-2xl" style="color: #ff2d32;"></i>
                    </div>
                    <div class="ben-text">
                        <h1>Affordable Prices</h1>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <div class="footer">

            <div>
                <h2>About NIQOL</h2>
                <ul class="list">
                    <li>
                        <a href="">Information</a>
                    </li>
                    <li>
                        <a href="">Store Locator</a>
                    </li>
                    <li>
                        <a href="">Live Station</a>
                    </li>
                    <li>
                        <a href="">Gift Delivery Service</a>
                    </li>
                    <li>
                        <a href="">Alteration Service</a>
                    </li>
                    <li>
                        <a href="">Bulk Purchase</a>
                    </li>
                </ul>
            </div>

            <div>
                <h2>HELP</h2>
                <ul class="list">
                    <li>
                        <a href="">FAQ</a>
                    </li>
                    <li>
                        <a href="">Return Policy</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="">Online Shopping Guide</a>
                    </li>
                    <li>    
                        <a href="">Accessibility</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div>
                <h2>Account</h2>
                <ul class="list">
                    <li>
                        <a href="">Membership</a>
                    </li>
                    <li>
                        <a href="">Profile</a>
                    </li>
                    <li>
                        <a href="">Coupons</a>
                    </li>
                </ul>
            </div>

            <div>
                <h2>UNIQOL Socials</h2>
                <ul class="list socials">
                    <li>
                        <i class="SICON fa-brands fa-instagram fa-2xl" style="color: black;"></i>
                    </li>
                    <li>
                        <i class="SICON fa-brands fa-youtube fa-2xl" style="color: black;"></i>
                    </li>
                    <li>
                        <i class="SICON fa-brands fa-twitter fa-2xl" style="color: black;"></i>
                    </li>
                    <li>
                        <i class="SICON fa-brands fa-facebook fa-2xl" style="color: black;"></i>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="CR">
            <h1>Copyright © UNIQOL Co., Ltd. All rights reserved.</h1>
        </div>
    </footer>




    <script src="../Scripts/Script.js"></script>
</body>

</html>
