<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/942c6b9015.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../Styles/News.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="off-screen-menu">
            <nav class="hidden-nav">
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Shop.html">Shop</a></li>
                    <li><a href="News.html">News</a></li>
                    <li><a href="Cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>

        <nav>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <section class="one">
                <div class="image">
                    <img src="../Assets/N1.jpg" alt="">
                </div>
                <div class="news">
                    <div class="info">
                        <h1>Haikyu</h1>
                        <p>Back in Stock ! Explore our Haikyu Collection</p>
                        <button class="btn">Explore</button>
                    </div>
                </div>
            </section>

            <section class="one">
                <div class="news">
                    <div class="info2">
                        <h1>EDO Era Animals</h1>
                        <p>Collect All Animals.</p>
                        <button class="btn">Explore</button>
                    </div>
                </div>
                <div class="image">
                    <img src="../Assets/N2.jpg" alt="">
                </div>
            </section>

            <section class="one">
                <div class="image">
                    <img src="../Assets/N3.avif" alt="">
                </div>
                <div class="news">
                    <div class="info">
                        <h1>UNIQOL's Summer Collection: Fresh Styles for the Season</h1>
                        <p>Get ready for summer with UNIQOL's latest collection! Our new arrivals include vibrant prints, lightweight fabrics, and trendy designs perfect for the warm weather. Whether you're looking for casual beachwear or chic evening outfits, our summer collection has something for everyone.</p>
                        <button class="btn">Explore</button>
                    </div>
                </div>
            </section>
        </div>
    </main>



    <script src="../Scripts/Cart.js"></script>
</body>
</html>