<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/942c6b9015.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../Styles/Shop.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="off-screen-menu">
            <nav class="hidden-nav">
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Shop.html"></a>Shop</li>
                    <li><a href="News.html">News</a></li>
                    <li><a href="Cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
        <nav>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="SHOP">
            <div>
                <ul class="category">
                    <li data-category="ALL">ALL</li>
                    <li data-category="WOMEN">WOMEN</li>
                    <li data-category="MEN">MEN</li>
                    <li data-category="KIDS">KIDS</li>
                </ul>
            </div>
        </div>

        <div class="SOFFER">
            <div class="big-div"></div>
        </div>
    </main>
    
    <script src="../Scripts/Shop.js"></script>
</body>
</html>